{% set count = 0 %}

{% if page.jumbo_footer_1 is defined and page.jumbo_footer_1 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}
{% if page.jumbo_footer_2 is defined and page.jumbo_footer_2 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}
{% if page.jumbo_footer_3 is defined and page.jumbo_footer_3 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}
{% if page.jumbo_footer_4 is defined and page.jumbo_footer_4 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}

<footer>
    <div class="footer noindex ms-dialogHidden">
        <div class="footer-col site-info">
            <h3>Site information</h3>
            <ul>
                <li>
                    <a href="http://www.waterrating.gov.au/about">About
                    </a>
                </li>
                <li>
                    <a href="http://www.waterrating.gov.au/accessibility">Accessibility
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.waterrating.gov.au/disclaimer">Disclaimer
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.agriculture.gov.au/about/reporting/foi">Freedom of Information
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.waterrating.gov.au/privacy">Privacy
                    </a>
                </li>
                <li>
                    <a href="http://www.waterrating.gov.au/register/login">Product registration database
                    </a>
                </li>
            </ul>
        </div>
        <!-- .footer-col .site-info -->
        <div class="footer-col contact">
            <h3>Contact
            </h3>
            <a class="footer__contact-link" href="http://www.waterrating.gov.au/about/contact">Contact us online
            </a>
            <h4>Compliance enquiries:
            </h4>
            <p>1800 372 746 (toll-free within Australia) 
                <br>
                +61 2 6272 5232 (international)                                                                        
            </p>
            <h4>Registration enquiries:
            </h4>
            <p>1800 218 478 (toll-free within Australia) 
                <br>
                +61 2 6272 5232 (international)                                                                        
            </p>
            <h4>Address:
            </h4>
            <p>WELS Regulator
            </p>
            <p>GPO Box 858
            </p>
            <p>Canberra ACT 2601
            </p>
            <p>Australia
            </p>
        </div>
        <!-- .footer-col .contact -->
        <div class="footer-col copyright">
            <p>The Water Efficiency Labelling and Standards (WELS) scheme is an Australian government initiative in partnership with state and territory governments.
            </p>
            <img class="footer__water-label-img" src="./Label and display _ Water Rating_files/waterrating-label.png" alt="">
            <p>
                <br>
                <a target="_blank" href="http://www.waterrating.gov.au/copyright">© Commonwealth of Australia
                </a>
            </p>
        </div>
        <!-- .footer-col .copyright -->
    </div>
    <!-- .footer -->
</footer>
