{% include directory ~ '/templates/partials/_header.html.twig' %}
<div class="main-wrapper">
      <div id="main" class="main">
         <h1 class="visually-hidden">Water Efficiency Labelling and Standards (WELS) scheme</h1>
         <div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl00_label">
            <div class="top-featured-content clearfix">
               <div class="top-featured-content-inner">
                  <div class="tfc__home-slider">
                     <div class="hs-list slick-initialized slick-slider slick-dotted">
                        <div class="slick-list draggable" style="height: 350px;">
                           <div class="slick-track" style="opacity: 1; width: 3768px;">
                              <div class="hs-item text item-386081 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 942px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
                                 <h2>Water waste in the wash</h2>
                                 <div class="hs-content">
                                    <div class="ExternalClass8D3EBFAA3DB84BAFA09607D5E8C8BD1F">
                                       <p>​​​​​​​​​​Compliance testing has uncovered LG clothes washing machine models using excessive water.​​​​​​</p>
                                       <a href="/label-display" class="action-link" tabindex="0">Find out more</a>​​ 
                                    </div>
                                 </div>
                              </div>
                              <div class="hs-item text item-335711 slick-slide" data-slick-index="1" aria-hidden="true" style="width: 942px; position: relative; left: -942px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s;" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
                                 <h2>International WELS Standard</h2>
                                 <div class="hs-content">
                                    <div class="ExternalClass8D3EBFAA3DB84BAFA09607D5E8C8BD1F">
                                       <p>​​​​​​WELS and Standards Australia are  working to develop an International Standard for rating water efficient  products based on Australia's WELS scheme.​​​​​​</p>
                                       <a href="https://www.standards.org.au/news/australia-leads-the-world-in-water-efficiency" class="action-link" target="_blank" tabindex="-1">Find out more</a>​ 
                                    </div>
                                 </div>
                              </div>
                              <div class="hs-item text item-335706 slick-slide" data-slick-index="2" aria-hidden="true" style="width: 942px; position: relative; left: -1884px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s;" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02">
                                 <h2>Builders and developers</h2>
                                 <div class="hs-content">
                                    <div class="ExternalClass8D3EBFAA3DB84BAFA09607D5E8C8BD1F">
                                       <p>​​If you supply regulated products as fixtures or fittings in a new building, you must make sure those products are registered and labelled correctly.​​​​​​</p>
                                       <a href="/label-display" class="action-link" tabindex="-1">Understand your obligations</a>​ 
                                    </div>
                                 </div>
                              </div>
                              <div class="hs-item text item-335707 slick-slide" data-slick-index="3" aria-hidden="true" style="width: 942px; position: relative; left: -2826px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s;" tabindex="-1" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03">
                                 <h2>Buying online</h2>
                                 <div class="hs-content">
                                    <div class="ExternalClassCE701D126C0B4001A7C4BEFA66EB7506">
                                       <p>​​​Products sold by online retailers must be registered and labelled with water efficiency i​nformation so you can make an informed decision.</p>
                                       <a href="/label-display" class="action-link" tabindex="-1">What to do before you buy​</a>​ 
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="hs__controls">
                        <button type="button" class="hs__play-pause playing"><span class="visually-hidden"><span class="action">Pause</span> slider</span></button>
                        <ul class="slick-dots" style="" role="tablist">
                           <li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 4" tabindex="0" aria-selected="true">1</button></li>
                           <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 4" tabindex="-1">2</button></li>
                           <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 4" tabindex="-1">3</button></li>
                           <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 4" tabindex="-1">4</button></li>
                        </ul>
                     </div>
                  </div>
                  <div class="tfc__water-rating-label-image">
                     <img src="/themes/contrib/waterrating/img/waterrating-label.png" alt="">
                  </div>
                  <div class="tfc__water-rating-label">
                     <h2>Water rating label</h2>
                     <div class="water-rating-label__cnt">
                        <p>Look for the water rating label or text advice on all products regulated under the Water Efficiency Labelling and Standards (WELS) scheme. The label is designed to help you make informed choices about the water efficiency of products you are buying.</p>
                     </div>
                     <a class="action-link" href="/choose/water-rating-label">Understand the label</a> 
                  </div>
               </div>
            </div>
            <div class="sec-product-search-buy-efficient clearfix">
               <div class="sec-product-search-buy-efficient-inner">
                  <div class="product-search col-1 clearfix">
                     <h2>Search for a product</h2>
                     <p>Check our product database to confirm t​he registration status and water efficiency information for products you are planning to buy.</p>
                     <div class="ps__form">
                        <div class="ps__type-wp">
                           <select name="product-search">
                              <option></option>
                              <option value="CLOTWAMA">Clothes washing machines</option>
                              <option value="DISHWASH">Dishwashers</option>
                              <option value="FLOWCONT">Flow controllers</option>
                              <option value="SHOWERS">Showers</option>
                              <option value="TAPEQUIP">Taps</option>
                              <option value="LAVEQUIP">Toilets</option>
                              <option value="URIEQUIP">Urinals</option>
                           </select>
                        </div>
                        <input type="button" value="Search" name="product-search__btn">
                     </div>
                  </div>
                  <div class="buy-efficient col-2 clearfix">
                     <h2>Buy water efficient products</h2>
                     <p>You can save money on your water and energy bills by choosing more water efficient products. Learn how to use the water efficiency information on the water rating label and in our product database to help you decide which products to buy.</p>
                     <a class="action-link" href="/choose/compare">How to compare products</a> ​​​
                  </div>
               </div>
            </div>
            <div class="sec-stats clearfix animated">
               <div class="sec-stats-inner">
                  <div class="stat people animated"> 
                     <span class="large-text">
                     <span class="people-count" data-counter="0">9</span><small>out of</small><span>10</span> people</span><span class="sub-text">recognise the water rating label</span> 
                  </div>
                  <div class="stat products">
                     <span class="large-text product-count" data-counter="0">22,737</span><span class="sub-text">products registered</span> 
                  </div>
               </div>
            </div>
            <div class="sec-industry-wels-login clearfix">
               <br> 
               <div class="sec-industry-wels-login-inner">
                  <div class="industry col-1 clearfix">
                     <h2>​Industry​​</h2>
                     <p>Manufacturers, suppliers, retailers, plumbers and builders all have important obligations under the Water Efficiency Labelling and Standards (WELS) Act. </p>
                     <p>Make sure you are aware of the registration, labelling and installation requirements you have to meet.</p>
                     <a class="action-link" href="/register">Registering your products</a><a class="action-link" href="/label-display">Labelling and displaying products</a><a class="action-link" href="/enforce">Inspections and enforcement</a> 
                  </div>
                  <div class="wels-login col-2 clearfix">
                     <h2>Product registration database</h2>
                     <p>Make sure products you supply are registered with us.​</p>
                     <p>Login or sign up to our product database to register products, renew existing registrations, and manage your fee payments.</p>
                     <div class="wels-login-form">
                        <label class="visually-hidden">Username</label><input id="wels-username" type="text" placeholder="Username"><label class="visually-hidden">Password</label><input id="wels-password" type="Password" placeholder="Password">
                        <div class="clearfix"><a href="http://wels.agriculture.gov.au/wels-public/action/forgot-password-load" class="wels-password-reset-link">Forgot your username or password?</a></div>
                        <div class="wels-login-form__links "><input class="wels-login-button" type="button" value="Login" name="wels-login"><a href="http://wels.agriculture.gov.au/wels-public/action/signup-load" class="wels-signup-link">Sign up</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>         
      </div>
      <!-- .main -->
</div>
<!-- .main-wrapper -->
{% include directory ~ '/templates/partials/_footer.html.twig' %}
